@import "tailwindcss";

@theme {
  --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Sora", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-orange: #D56B45;
  --color-brand-orange-hover: #B84E29;
  --color-brand-dark: #2D2D2D;
  --color-brand-sage: #86A789;
  --color-brand-cream: #F9F8F6;
  --color-brand-peach: #FAF3F0;
}
